/* (Mini) Reset do CSS para resetar as propriedades mais comuns que irá ser aplicadas pelo navegador, 
com objetivo de eliminar possíveis incompatibilidades entre navegadores diferentes. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: initial;
    text-align: initial;
}

/* Estilos definidos que irão agregar sobre a página de documentação. */

body {
    width: 90%;
    margin: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

h1 {
    font-size: 32pt;
}

h2 {
    font-size: 26pt;
    margin-bottom: 10px;
}

h3 {
    font-size: 22pt;
}

h4 {
    font-size: 18pt;

}

p,
table {
    margin: 20px 0;
    font-size: 16pt;
}

p {
    line-height: 1.5;
    font-size: 16pt;
    margin-left: 20px;
    text-align: justify;
}

td,
th {
    font-size: 16pt;
}

tr:nth-child(odd) {
    background-color: #cecece;
}

.conteiner {
    width: 1000;
    height: 500px;
    background-color: rgb(252, 250, 247);
    border: 4px solid #000;
    /* groove */
    display: flex;
    flex-direction: row;
    /*row, row-reverse, column, column-reverse; */
    justify-content: space-evenly;
    /* Possíveis valores: flex-start, center, start, end, space-around, space-between, space-evenly */
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    flex-flow: row wrap;
}

.contido {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 4px solid #0000ff;
}

.display-flex {
    display: flex;
}

#center {
    height: 200px;
    background-color: azure;
    border: 4px solid aquamarine;
    justify-content: center;
    display: flex
}

#Cores {
    height: 200px;
    background-color: azure;
    border: 4px solid aquamarine;
    display: flex;
}

#direction {
    flex-direction: column-reverse;
    height: 610px;
    background-color: azure;
    border: 4px solid aquamarine;

}

#align {
    width: 650px;
    height: 600px;
    border: 4px solid blue;
    display: flex;
    align-items: center;
}

#align div {
    flex: 1;
    border: 4px solid aqua;
    display: flex;
    align-items: center;
}

#wrap {
    width: 800px;
    height: 800px;
    border: 4px solid blue;
    display: flex;
    flex-wrap: wrap;
}

#wrap div {
    width: 200px;
    height: 200px;
}

#flow {
    width: 800px;
    height: 800px;
    border: 4px solid blue;
    display: flex;
    flex-flow: row-reverse wrap;
}

#flow div {
    width: 200px;
    height: 200px;
}

#Aligncontent {
    width: 140px;
    height: 140px;
    border: 4px solid blue;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}


#Aligncontent div {
    width: 100px;
    height: 100px;
}



.aquamarine {
    background-color: aquamarine;
    border: 10px solid aquamarine;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
}

.black {
    justify-content: space-around;
    background-color: black;
    border: 10px solid black;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
}

.pink {
    background-color: pink;
    border: 10px solid pink;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
}

.green {
    justify-content: space-around;
    background-color: green;
    border: 10px solid green;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
}

.aqua {
    background-color: aqua;
    border: 10px solid aqua;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
}

.blueviolet {
    background-color: blueviolet;
    border: 10px solid blueviolet;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
}

.brown {
    background-color: brown;
    border: 10px solid brown;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
}

.cadetblue {
    background-color: cadetblue;
    border: 10px solid cadetblue;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
}

.chartreuse {
    background-color: chartreuse;
    border: 10px solid chartreuse;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
}